<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>Smart Bear Intrinsic Capacity Dashboard</title>
</head>
<body>
    <div id="main" class="container-fluid text-center">
        <h1> Dashboard for visualizing Smart Bear Intrinsic Capacity Data </h1>
        <p>In this page you can filter over a list of patients and visualize their data, from the Intrinsic Capacity to the single variable</p>
    
        <div class="row">
            <div class="col-md-12" style="height: 100px;">
                Select a patient or filter by IC coverage %:
                <input type="number" id="minCoverage" name="inputValue" value="80" min="0" max="100">

                <!--<div class="border rounded" id="patient-list"></div>-->
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select a patient
                    </button>
                    <div id="patient-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <!--<a class="dropdown-item" href="#">test</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row border">
            <div class="col-lg-6 text-center border">
                <div id="ic-chart" class="line-chart text-center">
                    Select a patient id to show his IC chart
                </div>
            </div>
            <div class="col-lg-6 text-center border">
                <div class="text-center border" style="height: 50px;">
                    <h2 id="ic-coverage">IC coverage: %</h2>
                </div>
                <div id="coverage-pie" class="text-center border" style="width: 100%; height: 400px;">Select a patient id to show his domains coverage</div>
            </div>
        </div>

        <div class="row border justify-content-center">
            <div class="col-lg-2 col-md-8 border text-center">
                <div id="domain-list">
                    <!-- <div id="Locomotion" class="domainItem" onclick="selectDomain(this)">Locomotion</div>
                    <div id="Sensory" class="domainItem" onclick="selectDomain(this)">Sensory</div>
                    <div id="Psychological" class="domainItem" onclick="selectDomain(this)">Psychological</div>
                    <div id="Cognition" class="domainItem" onclick="selectDomain(this)">Cognition</div>
                    <div id="Vitality" class="domainItem" onclick="selectDomain(this)">Vitality</div> -->
                </div>
            </div>

            <div class="col-lg-8 col-md-12 border">
                <div id="domain-chart" class="line-chart text-center">
                    Choose a domain to show his chart
                </div>
            </div>
        </div>

        <div class="row border">
            <div class="col justify-content-center text-center">
                Select a variable to show it's chart
                <div class="border" id="variable-list"></div>
            </div>
        </div>

        <div class="row border">
            <div class="col-lg-6 text-center border">
                <div id="variable-chart" class="line-chart text-center">
                    Select a variable to show it's chart
                </div>
            </div>
            <div class="col-lg-6 text-center border">
                <div id="variable-imputation-chart" class="text-center border" style="width: 100%; height: 450px;">
                    Select a domain to show it's variables imputation
                </div>
            </div>
        </div>

        <div class="row border">
            <div id="tree-chart" class="col-lg-8 text-center border" style="height: 500px;">
                Tree chart for variables
            </div>

            <div id="sankey-chart" class="col-lg-4 text-center border" style="height: 500px;">
                Sankey chart for domains
            </div>
        </div>

        
        <div class="row border">
            <div id="boxplot-chart" class="col-lg-12 text-center border" style="width:100%; height: 500px;">
                Boxplot
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/regression/2.0.1/regression.min.js" integrity="sha512-0k6FXllQktdobw8Nc8KQN2WtZrOuxpMn7jC2RKCF6LR7EdOhhrg3H5cBPxhs3CFzQVlO6ni1B9SDLUPhBs0Alg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="js/scripts.js"></script>
    <!--<script src="js/scrollMouse.js"></script>--> <!--drag mouse for scrollable list-->
</body>
</html>